{% trans_default_domain 'admin.products.category' %}
<div id="item-collection-section-{{ section.vars.name }}" class="card p-4 mb-3 border-light item-collection-section">
	
	
	<div class="d-flex flex-column">
		
		<div class="d-flex flex-column gap-3 w-100">
			
			<div class="card-header border-light bg-body">
				<div class="card-title">
					<h4>
						{# Секция свойств продукта #}
						{{ 'admin.form.header.section'|trans }}
					</h4>
				</div>
			</div>
			
			<div class="card-body text-start py-0">
				
				<div class="d-flex justify-content-evenly gap-1 align-items-end">
					<div class="p-1">
						{{ form_row(section.DeleteSection, {
							label: '<span class="svg-icon svg-icon-2 text-nowrap">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                                                <rect opacity="0.5" x="7.05025" y="15.5356" width="12" height="2" rx="1" transform="rotate(-45 7.05025 15.5356)" fill="currentColor"></rect>
                                                <rect x="8.46447" y="7.05029" width="12" height="2" rx="1" transform="rotate(45 8.46447 7.05029)" fill="currentColor"></rect>
                                            </svg>' ~'admin.form.btn.section.delete'|trans~ '</span>',
							attr: { class: 'btn-outline-danger btn-sm del-item-section border-0' }
						}) }}
					</div>
					
					
					<div class="w-100">
						{# Сортировка секции #}
						{{ form_row(section.sort, {  label : 'Сортировка секции'|trans } ) }}
					</div>
				</div>
				
				
				{# Настройки локали секции #}
				{{ include(_self|replace({ "_section.html.twig": "trans/_section.trans.html.twig" })) }}
			
			</div>
		</div>
		
		<div class="d-flex flex-column w-100">
			
			<div class="card-header border-light bg-body">
				<div class="card-title">
					<h4>
						{{ 'admin.form.header.field'|trans }}
					</h4>
				</div>
			</div>
			
			{# Поля свойств продукта #}
			{# {% set include_field = include(_self|replace({ "prototype.section.html.twig": "field/prototype.field.html.twig" }), { field_prototype : section.field.vars.prototype }) %} #}
			
			
			<div id="field-collection-{{ section.vars.name }}" class=''>
				
				{% for field in section.field %}
					<div id="item-collection-field-{{ field.vars.name }}"
							class="item-collection-field pb-3 {{ loop.first ? 'mt-5' }}">
						{{ include(_self|replace({ "_section.html.twig": "field/_field.html.twig" })) }}
					</div>
				{% endfor %}
				
				{# <div id="item-collection-field-0" class="item-collection-field pb-3 mt-5">
				#}{# {{ include_field|replace(
					{
						"__FIELD_SORT__" : 100,
						"__section_field__" : 0
					}) | raw }} #}{#
				</div> #}
			</div>
			
			{# {% for field in section.fields %} #}
			
			
			
			{# {% endfor %} #}
			
			{# {{ include(_self|replace({ "prototype.section.html.twig": "prototype.field.html.twig" })) | e('html_attr') }} #}
			
			{# <div id="field_collection___name__"
				 data-prototype=" #}{# {{ include(_self|replace({ "prototype.section.html.twig": "prototype.field.html.twig"}), { prototype : section.field.vars.prototype })| e('html_attr')  }} #}{# "
			> #}
			
			<div class='mx-3'>
				<button type="button"
						id='createSectionField{{ section.vars.name }}'
						{# onclick="createSectionField(this)" #}
						data-section="{{ section.vars.name }}"
						data-index="{{ section.field.count }}"
						data-prototype="{{ include(_self|replace({ "_section.html.twig": "field/prototype.field.html.twig" }), { field_prototype : section.field.vars.prototype })| e('html_attr') }} "
						class="btn btn-sm btn-outline-primary border-0 section-field_add-collection">
			
			<span class="svg-icon svg-icon-2">
				<svg xmlns="http://www.w3.org/2000/svg"
						width="24" height="24" viewBox="0 0 24 24"
						fill="none">
					<rect opacity="0.5" x="11" y="18" width="12"
							height="2" rx="1"
							transform="rotate(-90 11 18)"
							fill="currentColor"></rect>
					<rect x="6" y="11" width="12" height="2"
							rx="1" fill="currentColor"></rect>
				</svg>
			</span> <span>Добавить поле в секцию</span>
				</button>
			</div>
		</div>
	
	</div>
</div>
