{% trans_default_domain 'admin.products.category' %}

<div class="tab-content" id="nav-{{ form.translate.vars.id }}Content">

    {# Минимальное количество в заказе ниже которого запрещается оформить заказ #}
    {{ form_row(form.info.minimal, { label : 'admin.form.label.restrictions.minimal'|trans  }) }}

    {# Количество по умолчанию #}
    {{ form_row(form.info.input, { label : 'admin.form.label.restrictions.input'|trans  }) }}

    {# Порог наличия продукции #}
    {{ form_row(form.info.threshold, { label : 'admin.form.label.restrictions.threshold'|trans }) }}

    {{ form_row(form.info.step, { label : 'admin.form.label.restrictions.step'|trans }) }}

</div>