{% trans_default_domain 'products.category' %}

<div class="d-flex justify-content-between">

	<div class="page-title d-flex flex-column me-3">

		<h1 class="d-flex text-dark fw-bolder my-1 fs-3">
			{# Название раздела #}
			{{ 'recyclebin.title'|trans({}, 'messages') }}
		</h1>

		<ul class="breadcrumb breadcrumb-dot fw-bold text-gray-600 fs-7 my-1">

			<li class="breadcrumb-item text-gray-600">
				<a href="{{ path('Pages:user.homepage') }}"
				   class="text-gray-600 text-hover-primary">{{ 'breadcrumb.home'|trans({}, 'messages') }}</a>
			</li>

			<li class="breadcrumb-item text-gray-600">
				<a href="{{ path('Pages:admin.homepage') }}"
				   class="text-gray-600 text-hover-primary">{{ 'breadcrumb.admin'|trans({}, 'messages') }}</a>
			</li>

			<li class="breadcrumb-item text-gray-600">
				<a href="{{ path('MenuProducts:menu') }}"
				   class="text-gray-600 text-hover-primary">
					{{ 'menu.products'|trans({}, 'menu') }}
				</a>
			</li>

			<li class="breadcrumb-item text-gray-600">
				<a href="{{ path('ProductCategory:admin.category.index') }}" class="text-gray-600 text-hover-primary">
					{# Название раздела #}
					{{ 'admin.category.title'|trans }}
				</a>
			</li>

		</ul>
	</div>

	<div class="d-flex align-items-center py-2 py-md-1">


		{% if is_granted('ROLE_PRODUCT_CATEGORY_NEW') %}
			<a href="{{ path('ProductCategory:admin.category.newedit.new') }}" class="btn btn-primary">
				{{ 'btn.new'|trans({}, 'messages') }}
			</a>
		{% endif %}

		{% if is_granted('ROLE_PRODUCT_CATEGORY_REMOVE') %}
			<a href="{{ path('ProductCategory:admin.category.recyclebin.truncate') }}" class="btn btn-danger ms-3 modal-link"
			   data-bs-toggle="modal" data-bs-target="#modal"
			>
				{{ 'btn.truncate'|trans({}, 'messages') }}
			</a>
		{% endif %}

		{% if is_granted('ROLE_PRODUCT_CATEGORY_SETTINGS') %}
			<a href="{{ path('ProductCategory:admin.category.recyclebin.settings') }}" class="btn btn-light ms-3 modal-link"
			   data-bs-toggle="modal" data-bs-target="#modal"
			>
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-sliders" viewBox="0 0 16 16">
					<path fill-rule="evenodd" d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z"/>
				</svg>
			</a>
		{% endif %}

	</div>
</div>