{% trans_default_domain 'products.category' %}


{#  ФОРМА-ПРОТОТИП ЛОКАЛЕЙ СЕКЦИИ #}

{% set prototype_field_trans_id = section.fields.vars.prototype.trans.vars.prototype.vars.id|replace(
	{"fields___name__": "fields___FIELDS__", "trans___name__" : "trans___TRANS__"}
) %}

{% set prototype_field_trans_local = form_row(section.fields.vars.prototype.trans.vars.prototype.local, { value: '__LOCALE__' })|replace({
	"[fields][__name__]" : "[fields][__FIELDS__]", "fields___name__" : "fields___FIELDS__",
	"[trans][__name__]" : "[trans][__TRANS__]", "trans___name__" : "trans___TRANS__",
}) %}

{% set prototype_field_trans_name = form_row(section.fields.vars.prototype.trans.vars.prototype.name, { label: 'admin.product.field.form.name'|trans })|replace({
	"[fields][__name__]" : "[fields][__FIELDS__]", "fields___name__" : "fields___FIELDS__",
	"[trans][__name__]" : "[trans][__TRANS__]", "trans___name__" : "trans___TRANS__",
}) %}

{% set prototype_field_trans_description = form_row(section.fields.vars.prototype.trans.vars.prototype.description, { label: 'admin.product.field.form.desc'|trans })|replace({
	"[fields][__name__]" : "[fields][__FIELDS__]", "fields___name__" : "fields___FIELDS__",
	"[trans][__name__]" : "[trans][__TRANS__]", "trans___name__" : "trans___TRANS__",
}) %}


<nav>
	<div class="nav nav-tabs" id="nav-{{ prototype_field_trans_id }}" role="tablist">

		{% for trans in form.trans %}

			{%  set id = prototype_field_trans_id | replace({ "__TRANS__" : loop.index0 }) %}

			<button class="nav-link{{ app.request.locale == trans.vars.value.local ? ' active' : '' }}"
					id="nav-{{ id }}-tab" data-bs-toggle="tab"
					data-bs-target="#nav-{{ id }}"
					type="button" role="tab" aria-controls="nav-{{ id }}" aria-selected="true">

				{{ trans.vars.value.local|trans({}, 'messages') }}
			</button>
		{% endfor %}

	</div>
</nav>

<div class="tab-content mt-5" id="nav-{{ prototype_field_trans_id }}-content">

	{% for trans in form.trans %}

		{%  set id = prototype_field_trans_id | replace({ "__TRANS__" : loop.index0 }) %}

		<div class="tab-pane fade{{ app.request.locale == trans.vars.value.local? ' show active' : '' }}"
			 id="nav-{{ id }}" role="tabpanel"
			 aria-labelledby="nav-{{ id }}-tab">

			{{ prototype_field_trans_local| replace({ "__TRANS__" : loop.index0, "__LOCALE__" : trans.vars.value.local }) | raw }}

			{{ prototype_field_trans_name | replace({ "__TRANS__" : loop.index0 }) | raw }}

			{{ prototype_field_trans_description | replace({ "__TRANS__" : loop.index0 }) | raw }}

		</div>

	{% endfor %}
</div>

