{% trans_default_domain 'admin.products.category' %}

<div class="card">
    <div class="card-body">
        <div class="d-flex gap-2 align-items-end">

            {{ form_row(field_prototype.DeleteField, {

                label: '<span class="svg-icon svg-icon-2 text-nowrap">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                                                <rect opacity="0.5" x="7.05025" y="15.5356" width="12" height="2" rx="1" transform="rotate(-45 7.05025 15.5356)" fill="currentColor"></rect>
                                                <rect x="8.46447" y="7.05029" width="12" height="2" rx="1" transform="rotate(45 8.46447 7.05029)" fill="currentColor"></rect>
                                            ',
                attr:
                {
                    class: 'btn-outline-danger btn-sm del-item-field border-0',
                    'data-section' : '__category_section__'
                }
            }) | raw }}

            <div class="w-25">
                {{ form_row(field_prototype.sort, { label : 'sort'|trans({}, 'core'), value: '__FIELD_SORT__' }) }}
            </div>
            <div class="w-100">
                {{ form_row(field_prototype.type, {
                    label : 'Тип поля',
                    placeholder: 'Выберите поле из списка',
                    value: 'input_field',
                    attr: { 'data-select' : 'select2' } }) }}
            </div>

            {{ form_row(field_prototype.required, { attr: { 'checked' : true } }) | raw }}


        </div>

        <div class='mb-3 me-3'>Отображение:</div>

        <div class="d-flex flex-wrap gap-3 align-items-end mb-3">
            {{ form_widget(field_prototype.name, { label : 'В название товара' }) }}
            {{ form_widget(field_prototype.card, { label : 'В превью товара' }) }}
            {{ form_widget(field_prototype.photo, { label : 'На фото превью' }) }}
            {{ form_widget(field_prototype.public, { label : 'Характеристики', attr: { 'checked' : true }}) }}
            {{ form_widget(field_prototype.filter, { label : 'Учавствует в фильтре' }) }}
            {{ form_widget(field_prototype.alternative, { label : 'Применить к поиску альтернатив' }) }}
        </div>

        {{ include(_self|replace({ "prototype.field.html.twig": "trans/prototype.field.trans.html.twig" }), { trans_prototype : field_prototype.translate.vars.prototype }) }}

    </div>
</div>