{% trans_default_domain 'admin.products.category' %}

{% if form.offer.variation.translate.count > 1 %}


    <ul class="nav nav-pills gap-3 mb-3" id="nav-{{ form.offer.variation.vars.id }}" role="tablist">

        {% for translate in form.offer.variation.translate %}



            <li class="nav-item" role="presentation">
                <button class="btn fw-bolder nav-link{{ app.request.locale == translate.vars.value.local? ' active' : '' }}"
                        data-bs-toggle="tab"
                        type="button"
                        role="tab"
                        aria-selected="true"

                        id="nav-{{ form.offer.variation.vars.id }}-{{ translate.vars.value.local }}-tab"
                        data-bs-target="#nav-{{ form.offer.variation.vars.id }}-{{ translate.vars.value.local }}"
                        aria-controls="nav-{{ form.offer.variation.vars.id }}-{{ translate.vars.value.local }}"
                >
                    <small class="text-uppercase px-3">{{ translate.vars.value.local|trans({}, 'core') }}</small>
                </button>
            </li>

        {% endfor %}
    </ul>

{% endif %}


<div class="tab-content " id="nav-{{ form.offer.variation.vars.id }}-content">

    {% for translate in form.offer.variation.translate %}
        <div class="tab-pane fade{{ app.request.locale == translate.vars.value.local? ' show active' : '' }}"
             id="nav-{{ form.offer.variation.vars.id }}-{{ translate.vars.value.local }}" role="tabpanel"
             aria-labelledby="nav-{{ form.offer.variation.vars.id }}-{{ translate.vars.value.local }}-tab">


            {{ form_row(translate.local) }}
            {{ form_row(translate.name, { label: 'admin.form.label.variation.name'|trans }) }}

            <div class="{{ form.offer.variation.postfix.vars.id }} {{ form.offer.variation.postfix.vars.data ?: 'd-none' }}">
                {{ form_row(translate.postfix, { label: 'admin.form.label.variation.postfix'|trans, required: form.offer.variation.postfix.vars.data }) }}
            </div>
        </div>
    {% endfor %}
</div>
